.sidebar {
  background-color: #ffffff;
  width: 16%;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 30px 10px 30px 0;
  border-right: 1px solid #f0f0f0;
}
.sidebar-logo {
  margin-bottom: 40px;
}
.sidebar-avatar {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}
.sidebar-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.sidebar-title {
  padding-left: 10px;
}
.sidebar-name {
  font-size: 22px;
  color: #6d6d6d;
}
.sidebar-info {
  font-size: 14px;
  color: #a6a6a6;
}
.sidebar-title h2 {
  margin-bottom: 5px;
}
.sidebar-title p {
  margin-bottom: 0;
}
.sidebar-content ul {
  list-style: none;
  padding-left: 0;
}
.sidebar-content ul a {
  color: black;
  text-decoration: none;
  align-items: center;
}
.sidebar-content ul li {
  padding: 15px 0;
}
.sidebar-content ul li a {
  color: #b1b2b8;
  font-weight: 500;
  align-items: center;
}
.sidebar-content ul li a.active {
  color: #1b74e4;
}
.sidebar-content ul a span:first-child {
  width: 25px;
  height: 25px;
  background-color: transparent;
  margin-right: 5px;
  transform: translateX(-50%) rotate(45deg);
  position: relative;
  border-top-right-radius: 8px;
}
.sidebar-content ul li a.active span:first-child {
  background-color: #1b74e4;
}
.sidebar-content ul a span:nth-child(2) {
  font-size: 25px;
}
.sidebar-content ul a span:nth-child(3) {
  font-size: 20px;
  padding-left: 15px;
  font-weight: 600;
}
.sidebar-line {
  width: 100%;
  height: 1px;
  background-color: #ecf0f1;
}
.sidebar-change {
  padding-top: 20px;
}
.sidebar-image {
  margin-top: 50px;
  padding: 0 40px;
}
.sidebar-function ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.sidebar-function ul li {
  padding: 10px 0 10px 30px;
}
.sidebar-function ul li a {
  text-decoration: none;
  color: #b1b2b8;
  display: flex;
  align-items: center;
}
.sidebar-function ul li a span:first-child {
  font-size: 25px;
  padding-right: 15px;
}
.sidebar-function ul li a span:last-child {
  font-size: 22px;
  font-weight: 600;
}

/* RESPONSIVE  */
/* MAX-WIDTH: 1850PX */
@media screen and (max-width: 1850px) {
  .sidebar-content ul a span:nth-child(2) {
    font-size: 22px;
  }
  .sidebar-content ul a span:nth-child(3) {
    font-size: 19px;
    padding-left: 12px;
  }
  .sidebar-function ul li a span:first-child {
    font-size: 22px;
    padding-right: 12px;
  }
  .sidebar-function ul li a span:last-child {
    font-size: 19px;
    font-weight: 600;
  }
}
/* MAX-WIDTH: 1500PX */
@media screen and (max-width: 1550px) {
  .sidebar {
    width: 20%;
  }
}
/* MAX-WIDTH: 1250PX */
@media screen and (max-width: 1250px) {
  .sidebar {
    display: none;
  }
}
