.profile {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 1px solid #f0f0f0;
  padding-top: 15px;
  overflow-y: scroll;
  width: 16%;
}
.profile::-webkit-scrollbar {
  width: 0px;
}
.profile::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 140px solid #7fa8da;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.profile-top {
  margin-bottom: 110px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  position: relative;
}
.profile-right {
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 12px 18px;
  cursor: pointer;
  background-color: #ffffff;
}
.profile-right i {
  color: rgb(39, 39, 39);
  transition: all 0.5s;
  font-size: 20px;
}
.profile-right:hover i {
  color: #1b74e4;
}
.profile-right:hover i {
  animation: bell 0.5s ease-in infinite;
}
.profile-img {
  display: flex;
  justify-content: center;
}
.profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.profile-info {
  text-align: center;
  padding: 20px 0 10px;
}
.profile-info h4 {
  font-size: 22px;
}
.profile-info p {
  color: #a6a6a6;
}
.profile-change {
  display: flex;
  justify-content: center;
}
.profile-personal {
  display: flex;
  column-gap: 30px;
}
.profile-change a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
}
.profile-change a:first-child {
  background-color: #1b74e4;
  color: #ffffff;
}
.profile-change a:last-child {
  color: #212529;
  border: 1px solid #a6a6a6;
}
.profile-listImageView {
  margin: 60px 0 30px 0;
}
.profile-listpost {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  gap: 1px;
  padding: 0 15px;
}
.profile-imgRoundedLeft:first-child img {
  border-top-left-radius: 10px;
}
.profile-imgRoundedLeft ~ .profile-imgRoundedLeft img {
  border-bottom-left-radius: 10px;
}
.profile-imgRoundedRight img {
  border-top-right-radius: 10px;
}
.profile-imgRoundedRight ~ .profile-imgRoundedRight img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
}
.profile-seeAllPost {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.profile-seeAllPost span {
  text-decoration: none;
  color: #1b74e4;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.profile-seeAllPost span:last-child:hover {
  transform: translateX(20px);
}
.profile-seeAllPost span:first-child:hover {
  transform: translateX(-20px);
}

@keyframes bell {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

/* RESPONSIVE  */
/* MAX-WIDTH: 1850PX */
@media screen and (max-width: 1850px) {
  .profile::before {
    border-width: 120px;
  }
  .profile-right {
    border-radius: 5px;
    padding: 8px 12px;
  }
  .profile-right i {
    font-size: 16px;
  }
  .profile-img img {
    width: 100px;
    height: 100px;
  }
  .profile-info h4 {
    font-size: 19px;
  }
  .profile-info p {
    font-size: 15px;
  }
  .profile-change a {
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 8px;
  }
  .profile-listImageView {
    margin: 40px 0 25px 0;
  }
}
@media screen and (max-width: 1550px) {
  .profile {
    display: none;
  }
}
