.editCategory {
  width: 700px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--color-white-1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.editCategory-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  color: #8a8e94;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #e4e6eb;
  text-align: center;
  line-height: 40px;
}
.editCategory-delete:hover {
  background-color: #d9dade;
}
.editCategory-main {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.editCategory-title {
  margin-bottom: 20px;
  text-align: center;
  color: #1b74e4;
}
.editCategory-title span:first-child {
  font-size: 30px;
}
.editCategory-title span:last-child {
  font-size: 25px;
  padding-left: 10px;
  font-weight: 600;
}
.editCategoryInput {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}
.editCategory-input input {
  padding: 10px 15px;
  background-color: var(--color-white-1);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
}

.editCategory-buttonAdd {
  width: 100%;
  margin-top: 10px;
}
.editCategory-buttonAdd button {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #1b74e4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: var(--color-white-1);
  font-weight: 600;
  font-size: 18px;
}
.editCategory-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.editCategory-input input {
  margin-bottom: 5px;
}
.editCategory-input span {
  color: rgb(234, 100, 100);
  font-size: 14px;
  font-weight: 500;
}
/* MAX-WIDTH: 576PX */
@media screen and (max-width: 576px) {
  .editCategory {
    height: 370px;
  }
}
