.createContentPost {
  border-radius: 10px;
  background-color: var(--color-white-1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 500px;
  min-height: 450px;
  position: relative;
}
.createContentPost-chooseStatus {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 51;
  background-color: inherit;
  border-radius: inherit;
}
.createContentPost-mainContent {
  min-height: 450px;
  display: flex;
  flex-direction: column;
}
.createContentPost-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.createContentPost h2 {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #050505;
  font-weight: 700;
}
.createContentPost-main {
  padding: 10px 0 18px;
}
.createContentPost-top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.createContentPost-topLeft {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.createContentPost-topRight span {
  font-size: 17px;
  font-weight: 600;
}
.createContentPost-imgUser {
  width: 45px;
  height: 45px;
  border-radius: 100rem;
}
.createContentPost-imgUser img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  cursor: pointer;
}
.createContentPost-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.createContentPost-info p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}
.createContentPost-status {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  column-gap: 8px;
  padding: 5px 10px;
  background-color: #e4e6eb;
  border-radius: 7px;
  cursor: pointer;
}
.createContentPost-status span {
  margin-bottom: -3px;
}
.createContentPost-status i:last-child {
  align-self: flex-start;
  font-size: 15px;
  margin-top: -1px;
}
.createContentPost-title {
  padding: 15px 5px 15px 15px;
  flex-grow: 1;
  display: flex;
}
.createContentPost-title textarea {
  resize: none;
  width: 100%;
  flex-grow: 1;
  font-size: 20px;
  /* overflow: visible; */
}

.createContentPost-title textarea::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
.createContentPost-title textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
/* Handle on hover */
.createContentPost-title textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.createContentPost-image,
.createContentPost-file {
  position: relative;
  padding: 0 15px;
}
.createContentPost-file {
  margin-bottom: 12px;
}
.createContentPost-fileContent,
.createContentPost-imageContent {
  width: 100%;
  border: 1px solid #ced0d4;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.createContentPost-imageContent {
  height: 260px;
}
.createContentPost-fileContent {
  height: 110px;
}
.createContentPost-imageDelete,
.createContentPost-fileDelete {
  position: absolute;
  z-index: 50;
  border-radius: 100rem;
  background-color: var(--color-white-1);
  text-align: center;
  line-height: 30px;
  border: 1px solid #ced0d4;
  color: #65676b;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
}
.createContentPost-imageDelete {
  right: 35px;
  top: 20px;
  width: 30px;
  height: 30px;
}
.createContentPost-fileDelete {
  right: 32px;
  top: 17px;
  width: 25px;
  height: 25px;
  line-height: 24px;
  font-size: 14px;
}
.createContentPost-imageDelete:hover,
.createContentPost-fileDelete:hover {
  background-color: #eeeeee;
}
.createContentPost-img,
.createContentPost-uploadImg,
.createContentPost-bgUploadFile {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.createContentPost-fileUpload {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.createContentPost-fileUpLoadLeft {
  padding-left: 20px;
}
.createContentPost-fileUpLoadLeft span i {
  font-size: 35px;
  color: var(--color-purple-2);
}
.createContentPost-fileUpLoadRight {
  display: flex;
  flex-direction: column;
}
.createContentPost-fileUpLoadRight span:first-child {
  font-weight: 600;
}
.createContentPost-fileUpLoadRight span:last-child {
  font-size: 12px;
  color: #98999b;
}
.createContentPost-fileUpload,
.createContentPost-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.createContentPost-uploadImg:hover,
.createContentPost-bgUploadFile:hover {
  background-color: #eeeeee;
}
.createContentPost-addImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createContentPost-positionAddFileMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.createContentPost-positionAddFileMain p {
  font-weight: 600;
  padding-top: 10px;
}
.createContentPost-addImg span {
  width: 50px;
  height: 50px;
}
.createContentPost-positionAddFile span {
  width: 40px;
  height: 40px;
}
.createContentPost-positionAddFile span i {
  font-size: 18px;
}
.createContentPost-addImg span,
.createContentPost-positionAddFile span {
  background-color: #e4e6eb;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createContentPost-addImg span i {
  font-size: 20px;
}
.createContentPost-addImg p {
  font-weight: 600;
  font-size: 17px;
  padding-top: 6px;
}

.createContentPost-bottom {
  margin-top: 20px;
  padding: 0 15px;
}
.createContentPost-addFile {
  padding: 8px 15px;
  border: 1px solid #ced0d4;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createContentPost-addFile p {
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 0;
}
.createContentPost-addContentFile {
  font-size: 25px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.createContentPost-addContentFile span {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  cursor: pointer;
  transition: all 0.3s;
}
.createContentPost-addContentFile span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.createContentPost-addContentFile span:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.createContentPost-addContentFile span:first-child i {
  color: #45bd62;
}
.createContentPost-addContentFile span:last-child i {
  color: #1877f2;
}
.createContentPost-addContentFile .createContentPost-imageActive,
.createContentPost-fileActive {
  background-color: rgba(0, 0, 0, 0.05);
}
.createContentPost-terms {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.createContentPost-terms input {
  width: 15px;
  height: 15px;
}
.createContentPost-terms > span {
  color: #65676b;
}
.createContentPost-terms > span > span {
  color: #1b74e4;
  text-decoration: underline;
  cursor: pointer;
}
.createContentPost-post {
  margin-top: 15px;
}
.createContentPost-post button {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 600;
  cursor: not-allowed;
  color: #bcc0c4;
}
.createContentPost-post button.active {
  cursor: pointer;
  background-color: #1b74e4;
  color: #ffffff;
  transition: all 0.3s;
}
.createContentPost-post button.active:hover {
  opacity: 0.9;
}
.createContentPost-deletePost {
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-color: var(--color-white-1);
  text-align: center;
  line-height: 42px;
  border: 1px solid #ced0d4;
  color: #8a8e94;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #e4e6eb;
}
.createContentPost-deletePost:hover {
  background-color: #d0d2d6;
}
.createContentPost-deletePost i {
  font-size: 22px;
}
.createContentPost-chooseStatusMain {
  width: 100%;
  height: 100%;
  position: relative;
}
.createContentPost-chooseStatusBack {
  position: absolute;
  top: 12px;
  left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  background-color: #e4e6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.createContentPost-chooseStatusBack:hover {
  background-color: #dee0e4;
}
.createContentPost-chooseStatusBack i {
  color: #65676b;
}
.createContentPost-chooseStatus h2 {
  margin-bottom: 0;
}
.createContentPost-titleStatus {
  padding: 25px 15px 15px 15px;
}
.createContentPost-titleStatus span {
  font-weight: 600;
  font-size: 18px;
}
.createContentPost-titleStatus p {
  margin-bottom: 0;
  margin-top: 5px;
  color: #65676b;
}
.createContentPost-statusOject {
  padding: 0 8px;
}
.createContentPost-statusItemActive {
  background-color: rgba(45, 136, 255, 0.1);
}
.createContentPost-statusItem {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  column-gap: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.createContentPost-statusItem:hover:not(.createContentPost-statusItemActive) {
  background-color: rgba(0, 0, 0, 0.05);
}
.createContentPost-statusItemLeft {
  display: flex;
  align-items: center;
}
.createContentPost-statusItemLeft span {
  background-color: #e4e6eb;
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createContentPost-statusItemLeft span i {
  font-size: 28px;
}
.createContentPost-statusItemRight {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
.createContentPost-statusInfo p:first-child {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}
.createContentPost-statusInfo p:last-child {
  margin-bottom: 0;
  color: #65676b;
}
.createContentPost-check input {
  width: 20px;
  height: 20px;
  background-color: black;
}
