.manage-paginationContent {
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}
.manage-paginationItem {
  padding: 12px;
}
.manage-paginationItem.active .manage-paginationLink {
  color: #2b7ce0;
  border: 1px solid #2b7ce0;
}
.manage-paginationLink {
  text-decoration: none;
  color: #32313a;
  font-size: 20px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 5px;
}
.manage-paginationLink:hover {
  color: #2b7ce0;
}
.manage-paginationLinkPrev,
.manage-paginationLinkNext {
  color: #2b7ce0;
}
.manage-disabled {
  opacity: 0.5;
}

/* MAX-WIDTH: 768PX */
@media screen and (max-width: 768px) {
  .manage-paginationItem {
    padding: 8px;
  }
}
/* MAX-WIDTH: 576PX */
@media screen and (max-width: 576px) {
  .manage-paginationItem {
    padding: 4px;
  }
}
